.Elzero
{
    border-left: rgb(246, 25, 47) solid 10px;
    border-right:purple solid 10px;
    width: 600px;
    background-color: #eee  ;
    height: 90px;
    margin:20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    position: relative;
    padding: 20px;
    padding-top:40px ;
}
.Elzero::before
{
    content: " ";
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right,rgb(246, 25, 47) 20%,
    lightblue 20%,
    lightblue 40%,
    lightgreen 40%,
    lightgreen 60%,
    rgb(255, 91, 119) 60%,
    rgb(255, 91, 119) 80%,
    purple 80%
    );
    position: absolute;
    top: 0;
    left: 0;
}
.Elzero::after
{
    content: " ";
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right,rgb(246, 25, 47) 20%,
    lightblue 20%,
    lightblue 40%,
    lightgreen 40%,
    lightgreen 60%,
    rgb(255, 91, 119) 60%,
    rgb(255, 91, 119) 80%,
    purple 80%
    );
    position: absolute;
    bottom: 0;
    left: 0;
}
.Elzero::first-letter
{
  
    color: orange;
}
input
{
    width: 600px;
    height: 60px;
    margin: auto;
    display: block;
    caret-color: red;
    margin-top: 20px;
    border: none;
    background-color: #eee;
    position: relative;
}
.input::after
{
    content: " ";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,red 50%,rgb(58, 228, 58) 50%)
}
.input
{
    width: 600px;
    height: 60px;
    margin: auto;
    position: relative;
}

