.parent3
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    box-shadow: -5px 0 0 rgb(57, 205, 255),
    5px 0 0 rgb(250, 157, 36);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(250, 157, 36);
}

.parent1
{
    padding-top: 8px;
    padding-bottom: 8PX;
    background-color: #ccc;
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
    
}.parent1 div
{
    background-color: rgba(255, 0, 0, 0.592);
    width: 170px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.parent2
{
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 8px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.parent2 div
{
    background-color: gray;
    width: calc(95% /3);  
    display: flex;  
    justify-content: center;
    align-items: center;
    
}
.one2
{
    order: 6;
    height: 40px;
    align-self: flex-end;
}
.two2
{
    order: 5;
}
.three2
{
    order: 2;
    height: 40px;
}
.four2
{
    order: 3;
}
.five2
{
    order: 4;

}
.six2
{
    order: 1;
    
}


.parent4
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 300px;
    padding: 8px;
    background-color: #eee;
}
.parent4 div
{
    display: flex;
    color: white;
    background-color: rgb(4, 111, 143);
}
.one4,.three4
{
    justify-content: center;
    align-items:center;
    align-self: self-end;
    flex-basis: 80px;
    width:30px ;
}
.two4
{
    align-self: self-start;
    width: 50%;
    height: 80px;
    justify-content: center;
    align-items:center;
}
.parent5
{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #eee;
    padding: 8px;
    width: 600px;
    height: 300px;
    display:flex;
    justify-content: space-around;
    
}
.parent5 div
{
    font-size: large;
    color: white;
    display:flex;
    flex-basis: 120px;
    justify-content: center;
    align-items: center;
    height:150px ;
}
.one5
{
    order: 2;
    background-color: orange;
}
.two5
{
    align-self: flex-end;
    order: 3;
    background-color: green;
}
.three5
{
    order: 4;
    background-color: brown;
}
.four5
{
    align-self: flex-end;
    order: 1;
    background-color: blue;
}