*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.layout
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "head head head head head"
    "sec sec sec sec sid"
    "foot foot foot foot foot";
}
header
{
    background-color: #03a9f4;
    grid-area: head;
}
section
{
    background-color: #ff5722;
    grid-area: sec;
}
aside
{
    background-color: #607d8b;
    grid-area: sid;
}
footer
{
    background-color: #009688;
    grid-area: foot;
}


/*HACKME put shared styles in one group*/ 
header , section , aside , footer {
    padding: 10px;
}
